.navigation {
    background-color: #ccc;
}

.navigation__container {
    width: 260px;
    height: 100vh;
    padding: 20px 0;
}

.navigation-logo {
    width: 105px;
    height: 105px;
    margin: 0 auto;
}

.navigation-logo__img {
    width: 100%;
}


.NavButton{
    width: 100%;
    border-radius: 0;
    padding: 30px 10px;
    border: 0;
    text-align: left;
    background-color: transparent;
}

.NavButton:hover{
    background-color: rgba(112, 135, 144, 0.34);
}


.app-company-top{
    border-bottom: 5px solid black;
    height: 47vh;
}

.app-company-top-content{
    max-height: 50vh;
    overflow: auto;
}
.companyTop__table-item{
    cursor: pointer;
}



.app-companyBottom{
    padding: 10px 10px 0;
}


.app-companyBottom-form__item{
    margin: 10px;
}
.app-companyBottom-form__item-description{
    color: white;
}

.form-employee-action{
    right: 0;
    top: 0;
    height: 100%;
}

.app-company-top-create{
    right: 0;
    top: 0;
}

.app-company-top-content-create{
    background-color:rgb(39, 74, 94);
    position:absolute;
    width:100%;
    left:0;
    bottom: 0;
    z-index: 10;
    transition: all .3s linear;
    opacity: .85;
}
.app-company-top-form__content .app-companyBottom-form__item-description{
    color: white !important;
}
.table-head__item-content-collapse{
    cursor: pointer;
}


